<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dodaj lekcje</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script lang="javascript">
        $(function () {
            $("#teacher").change(function () {
                let teacherId = $("#teacher").val();
                $.ajax("/student?teacherId=" + teacherId, {
                    success: function (response) {
                        $("#student").empty();
                        for (const student of response) {
                            $("#student").append('<option value="' + student.id + '">' + student.firstName + ' ' + student.lastName + '</option>');
                        }
                    }
                })
            });
        });
    </script>
</head>
<body>
<h2>Dodaj lekcje</h2>
<p><a href="/lesson/new">Dodaj nowa lekcje</a></p>
<form method="POST">
    <select name="teacher" id="teacher">
        <option disabled selected>Wybierz nauczyciela</option>
        <option th:each="teacher : ${teachers}" th:value="${teacher.id}"
                th:text="|${teacher.firstName} ${teacher.lastName}|"></option>
    </select>
    <select name="student" id="student">
    </select>
    <input type="datetime-local" name="dateTime">

    <button type="submit">Dodaj lekcje</button>

</form>
</body>
</html>